input {
  text-align: center;
}


body {
  background-image: url("http://4.bp.blogspot.com/-DOK2kla10Uo/VfLyjt81ehI/AAAAAAABQps/3JX7Qblhq50/s1600/tel_aviv.jpg");
  background-size: cover;
  max-height: 850px;
  background-repeat: no-repeat;
  padding-bottom: 55px;
}

.searchLocator {
  margin-top: -50px;
  margin-bottom: 5px;
}


.logo {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-weight: bold;
  font-size: 45px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px lightblue, 0 0 5px blue,
               2px 2px 4px black,
               4px 4px 6px black;
}

.logoMin {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-weight: bold;
  font-size: 15px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px lightblue, 0 0 5px blue,
               2px 2px 4px black,
               4px 4px 6px black;
}

h3 .logo {
  font-size: 30px;
  margin-bottom: 1px;
}

.silver {
  color: silver;
}

.green {
  color:red;
}

.tm {
  font-size: 30px;
}

.h5 {
  font-size: 15px;
}

.mapTitle {
  margin-top: -23px;
  text-align: center;
  padding-bottom: 5px;
  color: white;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px lightblue,
               2px 2px 4px black,
               4px 4px 6px black;
}

.title {
  margin-top: 10px;
  text-align: center;
  padding-bottom: 5px;
  color: white;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px lightblue,
               2px 2px 4px black,
               4px 4px 6px black;
}

label {
  color: black;
  font-style: bold; 
}

.container {
  width: 100%;
  padding-bottom: 25px;
}

.container1 {
  padding-left: 100px;
  padding-right: 100px;
}

.form-control {
  margin-bottom: 12px;
}

table {
  border: 2px solid black;
  height: 20px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2B00FF;
  color: white;
}

tr {
  height: 35px;
  background-color: #6699ff
}


tr:hover {
  background-color: #f5f5f5;
}

.dataSearchIn {
    margin-left: 37%;
    height: 34px;
    padding: 6px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.list {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
}

#map {
  margin-top: 20px;
 /* width: 91.4%;*/
  height: 400px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
 }

#map1 {
  margin-top: 1px;
 /* width: 91.4%;*/
  height: 400px;
  margin-left: auto;
  margin-right: auto;
 }

 #type-selector  {
    background-color:black;
    z-index:0;
    opacity:1;
  
 }

 #type-selector label {
    color: white;
  
 }

 .getInfoBtn a {
  color: white;
 }

 .getInfoBtn {
  margin-left: 41%;
 }

 .choosePurpose {
  margin-bottom: 15px;
  margin-left: 38.6%
 }