input {
  text-align: center;
}
.navbar {
  background-image: url("https://d13yacurqjgara.cloudfront.net/users/533798/screenshots/2210893/safe.gif");
  background-size: contain;  
  color: white;
  text-shadow: 1px 1px 2px black,
               2px 2px 4px black;
}
/*//https://mcclungs.files.wordpress.com/2011/11/vine-green-background-pattern.jpg*/

body {
  background-image: url("http://static.wixstatic.com/media/bd5178_4de570d4de6649ce83bd65304ab7aa84.gif");
  background-size: cover;
  max-height: 1000px;
  padding-bottom: 55px;
}

.logo {
  text-align: center;
  font-family: "Lucida Console";
  font-weight: bold;
  font-size: 38px;
}
.title {

  text-align: center;
  padding-bottom: 5px;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 2px white,
               2px 2px 4px white;
}

label {
  color: black;
  font-style: bold; 
}

.container {
  width: 100%;
  padding-bottom: 25px;
}

.container1 {
  padding-left: 100px;
  padding-right: 100px;
}

.form-control {
  margin-bottom: 15px;
}

table {
  border: 2px solid black;
  height: 20px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2B00FF;
  color: white;
}

tr {
  height: 35px;
}

tr:nth-child(even) {
  background-color: #6699ff
}

tr:hover {
  background-color: #f5f5f5;
}

.list {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
}

#map {
  margin-top: 20px;
 /* width: 91.4%;*/
  height: 400px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
 }

#map1 {
  margin-top: 30px;
 /* width: 91.4%;*/
  height: 400px;
  margin-left: auto;
  margin-right: auto;
 }

 #type-selector  {
    background-color:black;
    z-index:0;
    opacity:1;
  
 }

 #type-selector label {
    color: white;
  
 }

 .getInfoBtn a {
  color: white;
 }
